@import "tailwindcss";
html,
body,
#app {
  font-family: "Geist Sans", system-ui, sans-serif;
}
/* .font-sans {
  font-family: "Geist Sans", system-ui, sans-serif;
}

.font-mono {
  font-family: "Geist Mono", ui-monospace, monospace;
} */
